{
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "schemes": [
    "http"
  ],
  "swagger": "2.0",
  "info": {
    "description": "Documentation of our awesome API.",
    "title": "awesome.",
    "version": "1.0.0"
  },
  "host": "some-url.com",
  "basePath": "/",
  "paths": {
    "/templates": {
      "get": {
        "description": "Description of initializeTemplateHandler",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "http",
          "https",
          "ws",
          "wss"
        ],
        "tags": [
          "templates",
          "init"
        ],
        "summary": "Summary of initializeTemplateHandler",
        "operationId": "initializeTemplateHandler",
        "parameters": [
          {
            "maxItems": 1,
            "minItems": 1,
            "uniqueItems": true,
            "type": "string",
            "x-go-name": "Hash",
            "description": "Hash used in initializing a template",
            "name": "hash",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "SomeSampleType",
            "schema": {
              "$ref": "#/definitions/SomeSampleType"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "SomeSampleType": {
      "description": "SomeSampleType SomeSampleType some sample type",
      "type": "object",
      "required": [
        "isActive"
      ],
      "properties": {
        "data": {
          "type": "string",
          "maxLength": 10,
          "minLength": 5,
          "x-go-name": "Data"
        },
        "id": {
          "type": "string",
          "format": "uuid",
          "x-go-name": "ID"
        },
        "isActive": {
          "type": "boolean",
          "default": false,
          "x-go-name": "IsActive"
        },
        "mail": {
          "type": "string",
          "format": "email",
          "x-go-name": "Mail"
        },
        "moreData": {
          "type": "string",
          "x-go-name": "MoreData"
        },
        "num": {
          "type": "integer",
          "format": "int64",
          "maximum": 100,
          "minimum": 1,
          "x-go-name": "Num"
        }
      },
      "x-go-package": "allaboutapps.at/aw/go-mranftl-sample/swaggertest"
    }
  },
  "securityDefinitions": {
    "basic": {
      "type": "basic"
    }
  }
}